.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16222b;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form h2 {
  text-align: center;
}

.login-form input {
  padding: 10px;
  font-size: 14px;
}

.login-form button {
  padding: 10px;
  background: #16222b;
  color: white;
  border: none;
  cursor: pointer;
}